# ClearPath-ML API Keys
OPENAQ_API_KEY=your_openaq_api_token
WAQI_TOKEN=your_waqi_api_token

# The deployed URL of your AQI_BACKEND (Node) infrastructure
# For local dev: http://localhost:8080
# For prod: Replace with the exact backend deployed URL
BACKEND_URL=http://localhost:8080
